<% provide(:title, 'ログイン') %>

<div class="login-card">
  <div class="login-card-title-area">
    <h1 class="login-card-title">勤怠管理システム</h1>
    <p class="login-card-subtitle">ログイン</p>
  </div>
  <div class="login-card-input-area">
    <%= form_for(:session, url: login_path, data: { turbo: false }) do |f| %>

      <div class="wave-group">
        <%= f.email_field :email, class: "input" %>
        <span class="bar"></span>
        <label class="label">
          <span>メールアドレス</span>
        </label>
      </div>

      <div class="wave-group">
        <%= f.password_field :password, class: 'input' %>
        <span class="bar"></span>
        <label class="label">
          <span>パスワード</span>
        </label>
      </div>

      <div class="login-card-submit-area">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
</div>