<% provide(:title, 'プロフィール編集') %>
<% provide(:button_text, '変更を保存') %>

<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
