.table-border{
  width: 900px;
  margin: 0 auto;
  border: 2px solid #B1D881;
  border-radius: 10px;
}
.day-table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  border-radius: 8px;
  table-layout: fixed;
  overflow: hidden;
}

.day-table-tr{
  background-color: #c1ed8cc4;
}
.day-table tr {
  padding: .35em;
}
.day-table-tr-body{
  height: 50px;
  border-top: 1px solid #999;
}
.day-table th,
.day-table td {
  text-align: center;
  padding: 10px;
  position: relative;
}
.day-table th {
  font-size: 1em;
  position: relative;
}
.day-table thead tr{
  background-color: #eee;
}
.day-table-name{
  border-right: 1px solid #bbb;
  width: 250px;
  position: relative;
}
.day-table-td-name-div{
  height: 45px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-table-th-name{
  background-color: #fff;
  border-right: 1px solid #bbb;
  height: 50px;
  cursor: pointer;
}
.day-table-th-name:hover{
  background-color: #eafffe;
}
.day-table-th-name:active{
  background-color: #d5fbf9;
}
.day-table-th{
  width: 130px;
}
.day-table-td-click{
  cursor: pointer;
  position: relative;
}
.day-table-td-click:hover::before{
  background-color: #f6ffeb;
  content: "";
  height: 100%;
  left: -5000px;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: -2;
}
.day-table-td-click:active::before{
  background-color: #e3f9c9;
  content: "";
  height: 100%;
  left: -5000px;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: -2;
}
.table-scroll{
  margin-bottom: 30px;
  height: calc(100vh - 280px);
  overflow: auto;
}
.day-table-td-status-div{
  font-size: 1.2em;
  cursor: help;
  color: #d77171;
}
.day-table-td-status-div:hover{
  color: #dc5d5d;
}

/* eidthが1000px以下になったら */
@media screen and (max-width: 1000px) {
  .table-scroll{
    width: 90%;
    margin: 0 auto 30px auto;
    overflow: auto;
  }
}


.month-table-scroll{
  overflow: auto;
  margin-bottom: 30px;
  max-height: calc(100vh - 280px);
  overflow-x: scroll;
  width: 90%;
  margin: auto;
}
.month-table-scroll{
  border-radius: 10px;
  border: 2px solid #B1D881;
}
.month-table-scroll table {
  white-space: nowrap;
  border-collapse: collapse;
  border-radius: 8px;
}

.month-table-tr {
  background-color: #c1ed8cc4;
}

.month-table-scroll th,
.month-table-scroll td {
  padding: 5px 15px;
  text-align: center;
}
.month-table-attendance-space{
  rotate: 90deg;
}
.month-table-attendance{
  cursor: pointer;
}
.month-table-attendance:hover{
  background-color: #f6ffeb;
}
.month-table-attendance:active{
  background-color: #e3f9c9;
}
.month-table-th-click{
  cursor: pointer;
}
.month-table-th-click:hover{
  background-color: #f6ffeb;
}