.attendance-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
  width: 650px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  border: 3px solid #B1D881;
  border-radius: 10px;
}

.attendance-card-date{
  display: flex;
}
.attendance-card-date-text{
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 30px;
}
.attendance-card-date-icon{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #B1D881;
  text-decoration: none;
  border-radius: 50%;
}
.attendance-card-date-icon:hover{
  color: #fff;
  background-color: #B1D881;
}
.attendance-card-date-icon:active{
  background-color: #66A41B;
}

.attendance-card-time{
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.attendance-card-time-frame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: 100%;
  padding: 10px;
  margin: 0 10px;
  box-sizing: border-box;
  border: 1px solid #B1D881;
  border-radius: 5px;
}
.attendance-card-time-frame p{
  font-weight: bold;
}
.attendance-card-time-frame-text{
  margin-top: 10px;
  font-size: 1.3rem; 
}

.attendance-card-button{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attendance-card-button div{
  margin: 0 15px;
  width: 100px;
}

.attendance-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 650px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.attendance-area-presence,
.attendance-area-clocking-out{
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0;
}
.attendance-area-presence{
  border: 2px solid #81C3D8;
}
.attendance-area-clocking-out{
  border: 2px solid #819fd8;
}
.attendance-area-presence::after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #81C3D8 transparent transparent transparent;
  position: absolute;
  bottom: -10px;
  left: 25%;
  transform: translateX(-50%);
}

.attendance-area-presence-title,
.attendance-area-clocking-out-title{
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  width: 50%;
}
.attendance-area-presence-time,
.attendance-area-clocking-out-time{
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  width: 50%;
}

.attendance-area-break{
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  border: 2px solid #B1D881;
  padding: 10px 0;
}
.attendance-area-break::after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #B1D881 transparent transparent transparent;
  position: absolute;
  bottom: -10px;
  left: 22.5%;
  transform: translateX(-50%);
}
.attendance-area-break-title{
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  width: 45%;
}
.attendance-area-break-time{
  text-align: center;
  margin-top: 20px;
  width: 55%;
}
.attendance-area-break-time-text{
  font-size: 1.3rem;
  font-weight: bold;
}

/* month */
.attendance-area-month{
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0;
  text-decoration: none;
  color: #202124;
}
.attendance-area-month-title{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  width: 20%;
}
.attendance-area-month-time{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attendance-area-month-sum{
  text-align: center;
  width: 20%;
}
.attendance-area-month-sum-text{
  font-size: 1.3rem;
  font-weight: bold;
}
.attendance-area-month.gray{
  border: 2px solid rgb(183, 183, 183);
}
.attendance-area-month:hover{
  background-color: rgb(241, 241, 241);
}
.attendance-area-month.blue{
  border: 2px solid #81C3D8;
}
.attendance-area-month.red{
  border: 2px solid #D88181;
}

/* widthが670pxより小さくなったら */
@media screen and (max-width: 670px) {
  .attendance-card,
  .attendance-area{
    width: 90%;
  }
  .attendance-card-date-text{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .attendance-card-time{
    display: block;
  }
  .attendance-card-time-frame{
    width: 90%;
    margin-bottom: 10px;
  }
  .attendance-area-break{
    display: block;
  }
  .attendance-area-break-title,
  .attendance-area-break-time{
    width: 90%;
    margin: auto;
  }
  .attendance-area-break::after,
  .attendance-area-presence::after{
    left: 50%;
  }
}