<% flash.each do |message_type, message| %>
  <div class="alert-card">
    <div class="alert alert-<%= message_type %>">
      <% if message_type == "success" %>
        <i class="fa-solid fa-check alert-icon"></i>
      <% elsif message_type == "error" %>
        <i class="fa-solid fa-exclamation-triangle alert-icon"></i>
      <% end %>
      <p><%= message %></p>
    </div>
  </div>
<% end %>